:root {
  --color1: crimson;
  --color2: ;
  --color3: ;
}

/* index.css */

html,
body {
  height: 100%;
  width: 100%;
}

#wrapper {
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  width: 100%;
  background-color: var(--color1);
  align-items: center;
  justify-content: center;
  min-height: 60px;
}

nav {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#code {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 60%;
}

/* buttons container */

#code > div {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

textarea {
  width: 100%;
  height: 80%;
}

button {
  padding: 14px 30px;
  border: none;
  color: #fff;
}
