:root {
  --color1: crimson;
  --color2: ;
  --color3: ;
}

/* index.css */

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Muli", sans-serif;
}

#wrapper {
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  width: 100%;
  background-color: var(--color1);
  align-items: center;
  justify-content: center;
  min-height: 60px;
}

header > h1 {
  margin-left: 30px;
  font-size: 1.6rem;
  white-space: pre;
}

nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

nav > * {
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: #eee;
  height: 100%;
}

a:hover {
  color: plum;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #ddd;
}

#code {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 60%;
}

#codeboxes {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: scroll;
}

#codeboxes .sandbox {
  width: 45%;
  margin-top: 1%;
}

/* buttons container */

textarea {
  width: 100%;
  height: 80%;
  resize: none;
}

button {
  margin-top: 1%;
  padding: 14px 30px;
  border: none;
  color: #fff;
  background: var(--color1);
  margin-left: 20px;
}

button:hover {
  background: black;
  cursor: pointer;
}

#output {
  font-size: 40px;
  color: var(--color1);
}
